{
    "openapi": "3.1.0",
    "info": {
        "title": "Athena API Documentation",
        "version": "1.0.0",
        "description": "Athena Backend API"
    },
    "servers": [
        {
            "url": "https://athena.wynntils.com",
            "description": "Production"
        },
        {
            "url": "http://127.0.0.1",
            "description": "Localhost"
        }
    ],
    "tags": [
        {
            "name": "Auth"
        },
        {
            "name": "Cache"
        },
        {
            "name": "Cape"
        },
        {
            "name": "Telemetry"
        },
        {
            "name": "User"
        },
        {
            "name": "Version"
        }
    ],
    "security": [
        {
            "AuthToken": []
        }
    ],
    "paths": {
        "/auth/getPublicKey": {
            "get": {
                "operationId": "auth.api.getPublicKey",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "`PublicKeyResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PublicKeyResource"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/responseEncryption": {
            "post": {
                "operationId": "auth.api.responseEncryption",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "`AuthResponseResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponseResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Notifications::log('<@&980223126619176960>', \"Unknown Profile for `{$request->validated('username')}`\", \"```json\\n\" . json_encode($profile, JSON_PRETTY_PRINT) . '```');",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "The provided username or key is invalid"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/cache/get/{cacheName}": {
            "get": {
                "operationId": "cache.getCache",
                "tags": [
                    "Cache"
                ],
                "parameters": [
                    {
                        "name": "cacheName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "timestamp": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "There's not a cache with the provided name."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cache/getHashes": {
            "get": {
                "operationId": "cache.getHashes",
                "deprecated": true,
                "tags": [
                    "Cache"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully grabbed cache hashes."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/cache/get/{cacheName}": {
            "get": {
                "operationId": "cache.v2.cache.get",
                "tags": [
                    "Cache"
                ],
                "parameters": [
                    {
                        "name": "cacheName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": [
                                        "string",
                                        "null"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "timestamp": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "There's not a cache with the provided name."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/get/{capeId}": {
            "get": {
                "operationId": "capes.getCape",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "capeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/user/{uuid}": {
            "get": {
                "operationId": "capes.getUserCape",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/list": {
            "get": {
                "operationId": "capes.cape.list",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/ban/{token}/{sha}": {
            "get": {
                "operationId": "capes.ban",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sha",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "The provided cape was banned successfully"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "There's not a cape with the provided SHA-1"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/queue/get/{capeId}": {
            "get": {
                "operationId": "capes.queue.get",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "capeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "image/png": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/queue/list": {
            "get": {
                "operationId": "capes.queue.list",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    },
                                    "required": [
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/queue/approve/{token}/{sha}/{type}": {
            "get": {
                "operationId": "capes.queue.approve",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sha",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully approved the cape."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "There's not a cape in the queue with the provided SHA-1"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/capes/queue/upload/{token}": {
            "post": {
                "operationId": "capes.queue.upload",
                "deprecated": true,
                "tags": [
                    "Cape"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "The provided cape is already approved."
                                                    ]
                                                },
                                                "sha-1": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "sha-1"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "The provided cape is already queued."
                                                    ]
                                                },
                                                "sha-1": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "sha-1"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "The provided cape is banned."
                                                    ]
                                                },
                                                "sha-1": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "sha-1"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "The image needs to be multiple of 64x32."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "The cape has been queued for approval."
                                            ]
                                        },
                                        "sha-1": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "message",
                                        "sha-1"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/telemetry/sendGatheringSpot": {
            "post": {
                "operationId": "telemetry.sendGatheringSpot",
                "deprecated": true,
                "tags": [
                    "Telemetry"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Gathering spot saved"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/user/getConfigs": {
            "get": {
                "operationId": "user.getConfigs",
                "deprecated": true,
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "configs": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "configs"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/user/uploadConfigs": {
            "post": {
                "operationId": "user.uploadConfigs",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    },
                                    "minItems": 0,
                                    "maxItems": 0,
                                    "additionalItems": false
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/user/updateDiscord": {
            "post": {
                "operationId": "user.updateDiscord",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Success"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/user/getInfo/{user}": {
            "get": {
                "operationId": "user.getInfo",
                "deprecated": true,
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "uuid": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "accountType": {
                                                    "type": "string"
                                                },
                                                "cosmetics": {
                                                    "type": "object",
                                                    "properties": {
                                                        "hasCape": {
                                                            "type": "boolean"
                                                        },
                                                        "hasElytra": {
                                                            "type": "boolean"
                                                        },
                                                        "hasEars": {
                                                            "type": "boolean"
                                                        },
                                                        "texture": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "hasCape",
                                                        "hasElytra",
                                                        "hasEars",
                                                        "texture"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "uuid",
                                                "username",
                                                "accountType",
                                                "cosmetics"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "user"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/getInfo": {
            "post": {
                "operationId": "user.getInfoLegacy",
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "`UserResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v2/user/getInfo": {
            "post": {
                "operationId": "user.getInfoV2",
                "deprecated": true,
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "name": "cosmetics",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "uuid": {
                                                    "type": "string"
                                                },
                                                "username": {
                                                    "type": "string"
                                                },
                                                "accountType": {
                                                    "type": "string"
                                                },
                                                "cosmetics": {
                                                    "type": "object",
                                                    "properties": {
                                                        "hasCape": {
                                                            "type": "boolean"
                                                        },
                                                        "hasElytra": {
                                                            "type": "boolean"
                                                        },
                                                        "hasEars": {
                                                            "type": "boolean"
                                                        },
                                                        "texture": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "hasCape",
                                                        "hasElytra",
                                                        "hasEars",
                                                        "texture"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "uuid",
                                                "username",
                                                "accountType",
                                                "cosmetics"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "user"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/version/latest/{stream}": {
            "get": {
                "operationId": "version.latest",
                "tags": [
                    "Version"
                ],
                "parameters": [
                    {
                        "name": "stream",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`VersionResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VersionResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "No release found for this stream"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/version/changelog/{version}": {
            "get": {
                "operationId": "version.changelog",
                "deprecated": true,
                "tags": [
                    "Version"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "version": {
                                            "type": "string"
                                        },
                                        "changelog": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "version",
                                        "changelog"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "No release found for this version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/version/download/{version}/{stream}/{modloader}": {
            "get": {
                "operationId": "version.download",
                "deprecated": true,
                "tags": [
                    "Version"
                ],
                "parameters": [
                    {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stream",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "modloader",
                        "in": "path",
                        "required": true,
                        "description": "**Optional**",
                        "schema": {
                            "type": "string",
                            "default": "fabric"
                        },
                        "x-optional": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "No release found for this version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/version/changelog/{fromQuery}/{toQuery}": {
            "get": {
                "operationId": "version.changelogBetween",
                "tags": [
                    "Version"
                ],
                "parameters": [
                    {
                        "name": "fromQuery",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "toQuery",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`ChangelogBetweenResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChangelogBetweenResource"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "No release found for the to version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/health": {
            "get": {
                "operationId": "health",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "string",
                                            "enum": [
                                                "ok"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/crash/report": {
            "post": {
                "operationId": "crash.report",
                "tags": [
                    "CrashReport"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "trace": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "trace"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`CrashReportResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CrashReportResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/guilds/setColor/{apiKey}": {
            "post": {
                "operationId": "guilds.setColor",
                "deprecated": true,
                "tags": [
                    "Guild"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully updated guild."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/getUser/{apiKey}": {
            "post": {
                "operationId": "legacy.getUser",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully found user account."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/getLinkedUsers/{apiKey}": {
            "post": {
                "operationId": "legacy.getLinkedUsers",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully found user accounts."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/getUserConfig/{apiKey}": {
            "post": {
                "operationId": "legacy.getUserConfig",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message",
                                                null
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "result": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message",
                                                "result"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Config not found."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "result": {
                                                    "type": "object",
                                                    "additionalProperties": {}
                                                }
                                            },
                                            "required": [
                                                "result"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/setAccountType/{apiKey}": {
            "post": {
                "operationId": "legacy.setAccountType",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully updated user account."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/updateCosmetics/{apiKey}": {
            "post": {
                "operationId": "legacy.updateCosmetics",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Updated users cosmetics successfully."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/setGuildColor/{apiKey}": {
            "post": {
                "operationId": "legacy.setGuildColor",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully updated guild."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/setUserPassword/{apiKey}": {
            "post": {
                "operationId": "legacy.setUserPassword",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Successfully set user account password."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "result",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/api/getUserByPassword/{apiKey}": {
            "post": {
                "operationId": "legacy.getUserByPassword",
                "deprecated": true,
                "tags": [
                    "LegacyApi"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Invalid password."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "result": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Successfully found and validated user account."
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "result",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/patreon/webhook": {
            "post": {
                "operationId": "patreon.webhook",
                "deprecated": true,
                "tags": [
                    "Patreon"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "Invalid signature"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/patreon/list/{apiKey}": {
            "get": {
                "operationId": "patreon.list",
                "deprecated": true,
                "tags": [
                    "Patreon"
                ],
                "parameters": [
                    {
                        "name": "apiKey",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string",
                                            "enum": [
                                                "Invalid response from Patreon"
                                            ]
                                        },
                                        "data": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "error",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/webhook/github": {
            "post": {
                "operationId": "webhook.github",
                "deprecated": true,
                "tags": [
                    "Webhook"
                ],
                "responses": {
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "Not OK"
                                    ]
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "OK"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "enum": [
                                        "Invalid signature"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "AuthToken": {
                "type": "apiKey",
                "in": "header",
                "name": "authToken"
            }
        },
        "schemas": {
            "AuthResponseResource": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "authToken": {
                        "type": "string"
                    },
                    "configFiles": {
                        "type": "object",
                        "additionalProperties": {}
                    },
                    "hashes": {
                        "type": "object",
                        "additionalProperties": {
                            "type": [
                                "string",
                                "null"
                            ]
                        }
                    }
                },
                "required": [
                    "message",
                    "authToken",
                    "configFiles",
                    "hashes"
                ],
                "title": "AuthResponseResource"
            },
            "ChangelogBetweenResource": {
                "type": "object",
                "properties": {
                    "from": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "changelogs": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                },
                "required": [
                    "from",
                    "to",
                    "changelogs"
                ],
                "title": "ChangelogBetweenResource"
            },
            "CrashReportResource": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "hash": {
                        "type": "string"
                    }
                },
                "required": [
                    "message",
                    "hash"
                ],
                "title": "CrashReportResource"
            },
            "PublicKeyResource": {
                "type": "object",
                "properties": {
                    "publicKeyIn": {
                        "type": "string"
                    }
                },
                "required": [
                    "publicKeyIn"
                ],
                "title": "PublicKeyResource"
            },
            "UserResource": {
                "type": "object",
                "properties": {
                    "user": {
                        "type": "object",
                        "properties": {
                            "accountType": {
                                "type": "string"
                            },
                            "cosmetics": {
                                "type": "object",
                                "properties": {
                                    "hasCape": {
                                        "type": "boolean"
                                    },
                                    "hasElytra": {
                                        "type": "boolean"
                                    },
                                    "hasEars": {
                                        "type": "boolean"
                                    },
                                    "texture": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "hasCape",
                                    "hasElytra",
                                    "hasEars",
                                    "texture"
                                ]
                            }
                        },
                        "required": [
                            "accountType",
                            "cosmetics"
                        ]
                    }
                },
                "required": [
                    "user"
                ],
                "title": "UserResource"
            },
            "VersionResource": {
                "type": "object",
                "properties": {
                    "version": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "md5": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "changelog": {
                        "type": "string"
                    },
                    "supportedMcVersion": {
                        "type": "string"
                    }
                },
                "required": [
                    "version",
                    "url",
                    "md5",
                    "changelog"
                ],
                "title": "VersionResource"
            }
        },
        "responses": {
            "ModelNotFoundException": {
                "description": "Not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            },
            "ValidationException": {
                "description": "Validation error",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Errors overview."
                                },
                                "errors": {
                                    "type": "object",
                                    "description": "A detailed description of each field that failed validation.",
                                    "additionalProperties": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "message",
                                "errors"
                            ]
                        }
                    }
                }
            },
            "AuthenticationException": {
                "description": "Unauthenticated",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "Error overview."
                                }
                            },
                            "required": [
                                "message"
                            ]
                        }
                    }
                }
            }
        }
    }
}