parameters:
	ignoreErrors:
		-
			message: '#^Anonymous function has an unused use \$errorDonators\.$#'
			identifier: closure.unusedUse
			count: 1
			path: app/Console/Commands/PatreonUpdate.php

		-
			message: '#^Parameter \#2 \$username of method App\\Http\\Libraries\\CapeManager\:\:queueCape\(\) expects string, false given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/CapeController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/WynntilsOAuthController.php

		-
			message: '#^Access to an undefined property Laravel\\Socialite\\Contracts\\User\:\:\$uuid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/WynntilsOAuthController.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:setScopes\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Controllers/WynntilsOAuthController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Libraries/ItemManager.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Middleware/Analytics.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: app/Models/Guild.php

		-
			message: '#^ArrayObject\<\*NEVER\*, \*NEVER\*\> does not accept string\|false\.$#'
			identifier: offsetAssign.valueType
			count: 1
			path: app/Models/User.php
